<!DOCTYPE html>
<html ng-app="FoltmeterApp">
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body ng-controller="FoltController as fc">
  <button ng-click="fc.minimumBalance();">Minimum Balance</button>
  <button ng-click="fc.interestSaver();">Interest Saver</button>
  <button ng-click="fc.sinceLastStatement();">Since Last Statement</button>
  <button ng-click="fc.fullBalance();">Full Balance</button>
  <button ng-click="fc.toggleInterestSaver();">Toggle Interest Saver</button>

  <div>
    <input type="text" ng-model="fc.value"/>
  </div>

  <!--<div id="testTarget"></div>-->
  <div foltmeter="fc.config" foltmeter-value="fc.value" foltmeter-duration="fc.duration"></div>

  <br/>
  <br/>

  <script src="bower_components/d3/d3.min.js"></script>
  <script src="src/foltmeter.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="src/angular.foltmeter.js"></script>

  <script>
    var meter = new Foltmeter({
      selector: '#testTarget',
      textColor: '#455A64',
      colors: ['#CFD8DC', '#455A64'],
      radii: [50, 60],
      data: [100, 500, 1000, 2000],
      ranges: [
        [-135, -130],
        [-128, -70],
        [-68, 10],
        [12, 135]
      ],
      height: 150,
      width: 150
    });

    angular.module('FoltmeterApp', ['foltmeter.module'])
      .controller('FoltController', function() {
        var fc = this;

        var interestSaverConfig = {
          textColor: '#455A64',
          colors: ['#CFD8DC', '#455A64'],
          radii: [50, 60],
          data: [100, 500, 2101, 2500],
          ranges: [
            [-135, -130],
            [-128, -70],
            [-68, 10],
            [12, 135]
          ],
          height: 150,
          width: 150,
          showPercentage: true
        };

        var nonInterestSaverConfig = {
          textColor: '#455A64',
          colors: ['#CFD8DC', '#455A64'],
          radii: [50, 60],
          data: [100, 500, 2101],
          ranges: [
            [-135, -130],
            [-128, -70],
            [-68, 135]
          ],
          height: 150,
          width: 150,
          showPercentage: true
        };

        fc.value = 0;
        fc.duration = 250;

        fc.config = interestSaverConfig;

        fc.minimumBalance = minimumBalance;
        fc.interestSaver = interestSaver;
        fc.sinceLastStatement = sinceLastStatement;
        fc.fullBalance = fullBalance;
        fc.toggleInterestSaver = toggleInterestSaver;

        function minimumBalance() {
          fc.value = 100;
        }

        function interestSaver() {
          fc.value = 500;
        }

        function sinceLastStatement() {
          fc.value = 2101;
        }

        function fullBalance() {
          fc.value = 2500;
        }

        function toggleInterestSaver() {
          if(fc.config.data.length > 3) {
            fc.config = nonInterestSaverConfig;
          } else {
            fc.config = interestSaverConfig;
          }
        }
      });
  </script>
</body>
</html>